.logo {
  display: block;
  font-family: 'Raleway', sans-serif;
  @include font(700, 26px, 31px);
  letter-spacing: 0.03em;
  color: $accent-color;
}
.header__logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}
.logo__dark {
  color: $title-color;
}
.footer__logo {
  margin-left: auto;
  margin-bottom: 20px;
}
.logo__light {
  color: $white-text-color;
}
