.section {
  padding-top: 94px;
  padding-bottom: 94px;
  &--user-background {
    background-color: $background-second-color;
  }
  &--no-padding-top {
    padding-top: 0;
  }
}

.section__title {
  text-align: center;
  @include font(700, 36px, 42px);
  letter-spacing: 0.03em;
  color: $title-color;
}
